<html style="background-image: url({{ static_path }}/logo.png)" class="bg-topright">
<head>
    <link rel="stylesheet" href="{{ static_path }}/fonts/fonts.css">
    <link rel="stylesheet" href="{{ static_path }}/style.css">
    <meta charset="UTF-8">
</head>
<body id="first">
<div class="page">
  <div class="printid">Print ID: {{ print_id }}</div>
  <h1>{{ contestant.id }}</h1>
  <h2>Desk: {{ desk.id }}</h2>
  <p>{{ contestant.name }}</p>

  <div class="sep"></div>

  <p>Pages: {{ num_pages }}{% if original_num_pages %} (was {{ original_num_pages }}){% endif %}</p>
  <p>Time: {{ time }}</p>

  {% if desk.map %}
  <div class="location">
    <img class="map" src="{{ desk.map }}">
  </div>
  {% endif %}
</div>
</body>
</html>
