<html style="background-image: url({{ static_path }}/background.png)" class="bg-right">
<head>
    <link rel="stylesheet" href="{{ static_path }}/fonts/fonts.css">
    <link rel="stylesheet" href="{{ static_path }}/style.css">
    <meta charset="UTF-8">
</head>
<body id="last">
<div class="page">
  <div class="printid">Print ID: {{ print_id }}</div>
  <h1 class="small-height">Print<br>Last Page</h1>
  <div class="sep"></div>

  <div class="text">
    <p>Pages: {{ num_pages }}{% if original_num_pages %} (was {{ original_num_pages }}){% endif %}</p>
    <p>Time: {{ time }}</p>
    <p>User: {{ contestant.id }}</p>
    <p>Name: {{ contestant.name }}</p>
    <p>Desk: {{ desk.id }}</p>
  </div>
</div>
</body>
</html>
